SPF & PTR

Hi,

Below the first warning begins with ":".
The domain is missing.


checkdmarc etudes-online.fr

  "spf": {
    "record": "v=spf1 a mx ptr include:mx.ovh.com include:spf.sendinblue.com include:spf.tipimail.com -all",
    "valid": true,
    "dns_lookups": 8,
    "void_dns_lookups": 0,
    "warnings": [
      **": The ptr mechanism should not be used - (RFC 7208 § 5.5)",**
      "mail-out.ovh.net: The ptr mechanism should not be used - (RFC 7208 § 5.5)",
      "mail.ovh.net: The ptr mechanism should not be used - (RFC 7208 § 5.5)"
    ],




