SPF & 255 characters

Hello,

The bug is back:

crm.samsung.fr =>  The SPF record for crm.samsung.fr appears to be a single 401-character string; a single TXT character-string should be ≤ 255 characters (RFC 7208 § 3.3). Consider splitting it into multiple quoted strings.

while it is : 
"v=spf1 ip4:130.248.224.78 ip4:172.82.227.233 ip4:172.82.227.234/31 ip4:172.82.227.236/30 ip4:172.82.227.240/30 ip4:172.82.227.244/31 ip4:172.82.227.246 ip4:172.82.230.53 ip4:172.82.230.54/31 ip4:172.82.230.56/29 ip4:172.82.230.64/29 ip4:172.82.230.72/30 " "ip4:172.82.230.76/31 ip4:172.82.230.78 ip4:172.82.231.121 ip4:172.82.231.122/31 ip4:172.82.231.124/30 ip4:172.82.231.128/29 ip4:172.82.231.136 -all"

Almalinux 9.7
I will continue monitoring the results.