checkdmarc does not consider mark certificates with certificate extension 1.3.6.1.4.1.53087.4.1 valid

## Problem

I recently used `checkdmarc` to check `kickbox.com`.  When `checkdmarc` attempted to validate the [Mark Certificate (MC)](https://www.ietf.org/archive/id/draft-brand-indicators-for-message-identification-09.html#name-mark-certificate-mc) used for BIMI, `checkdmarc` returned the validation error `unhandled critical extension`.  This error occurs when OpenSSL is unable to process a certificate extension that has been marked critical by the certificate issuer (DigiCert in this case), in compliance with [RFC 5280, Section 4.2](https://www.rfc-editor.org/rfc/rfc5280.html#section-4.2).

> A certificate-using system MUST reject the certificate if it encounters a critical extension it does not recognize or a critical extension that contains information that it cannot process.  A non-critical extension MAY be ignored if it is not recognized, but MUST be processed if it is recognized.

 After downloading [the certificate](https://github.com/user-attachments/files/20614089/c89ca9b2-475f-4800-b123-78f5a9be2277.zip) processing it through `openssl x509 -in c89ca9b2-475f-4800-b123-78f5a9be2277.pem -noout -text`  and looking at [the output](https://github.com/user-attachments/files/20614121/c89ca9b2-475f-4800-b123-78f5a9be2277.pem_openssl.txt), you can see the problematic certificate extension.

```text
 1.3.6.1.4.1.53087.4.1: critical
                ..Mark Certificate
```

A quick Google for ` 1.3.6.1.4.1.53087.4.1`  led me to the BIMI Group's PDF titled "[Minimum Security Requirements for
 Issuance of Mark Certificates](https://bimigroup.org/resources/VMC_Requirements_latest.pdf)", which states:

> Pilot identifier extension (OID: 1.3.6.1.4.1.53087.4.1) The Pilot identifier extension denotes that the Certificate contains elements (fields or extensions) that are of an experimental nature. For Certificates issued on or after 2025-03-15, this extension SHALL NOT be present. For Certificates issued before 2025-03-15 whose subject:markType field contains “Prior Use Mark” or “Modified Registered Mark”, then this extension MAY be present and the value MAY contain a UTF8 String with the value “Mark Certificate”. If present, this extension SHALL be marked critical


## Solution

 Set the `IGNORECRITICAL`  flag when validating mark certificates with OpenSSL until 2026-03-15., when the last certificates with with this extension expire. 

From the [OpenSSL documentation](https://docs.openssl.org/master/man3/X509_VERIFY_PARAM_set_flags/#verification-flags):

> If this flag is set unhandled critical extensions are ignored.
 